body{
    background-image: linear-gradient(white,rgb(170, 215, 226));
    height:100%;
}
.mainhd{
    position: absolute;
    background-color: azure;
}
.text{
    position: absolute;
    top: 43%;
    left: 10%;
    transform: translate(-30%,-60%);
    color: black;
}
.text1{
    position: absolute;
    top: 87%;
    left: 33%;
    transform: translate(-50%,-50%);
    color: rgb(32, 108, 32);
}
.btn1{
    padding: 10px;
    background-color: rgb(175, 87, 115);
    color: rgb(9, 52, 9);
    border:none;
    border-radius: 5px;
    text-size-adjust: 5px;
}
.btn2{
    padding: 10px;
    background-color: rgb(110, 198, 145);
    color: rgb(11, 38, 11);
    border:none;
    border-radius: 5px;
    text-size-adjust: 5px;
}
.btn3{
    padding: 10px;
    background-color: rgb(115, 139, 228);
    color: rgb(15, 58, 20);
    border:none;
    border-radius: 5px;
    text-size-adjust: 5px;
}
.btn4{
    padding: 10px;
    background-color: rgb(200, 140, 215);
    color: rgb(9, 52, 9);
    border:none;
    border-radius: 5px;
    text-size-adjust: 5px;
}
.btn5{
    padding: 10px;
    background-color: rgb(215, 140, 140);
    color: rgb(9, 52, 21);
    border:none;
    border-radius: 5px;
    text-size-adjust: 5px;
}
.btn6{
    padding: 10px;
    background-color: rgb(177, 199, 82);
    color: rgb(9, 52, 17);
    border:none;
    border-radius: 5px;
    text-size-adjust: 5px;
}
.icn{
    background-color: rgb(149, 190, 149);
    color: rgb(11, 62, 11);
    border: 2px solid green;
    border-radius: 100%;
    padding: 5px;  
}
.texts{
    position: absolute;
    top: 255%;
    left: 50%;
    transform: translate(-30%,-60%);
    color: rgb(247, 246, 246);
}
.textd{
    position: absolute;
    top: 262%;
    left: 45%;
    transform: translate(-30%,-60%);
    color: rgb(247, 246, 246);
}
.textf{
    position: absolute;
    top: 270%;
    left: 50%;
    transform: translate(-30%,-60%);
    color: rgb(247, 246, 246);
}
.card{
    box-shadow: 2px 2px 8px;
}
.imgs1{
    box-shadow: 1px 1px 8px;
}
.mainhd2{
    position: sticky;
    background-color: rgb(200, 166, 224);
}
.frm1{
    border: 1px solid rgb(183, 151, 212);
    padding: 10px;
    padding-left: 70px;
    background-color: rgb(116, 187, 223);
    outline: 1px solid aliceblue;
}
.dv1{
    align-items: center;
}